<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="lisaacProblem"
         name="Lisaac Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name.0"
            extensions="li"
            icon="$nl$/icons/prototype.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.lisaac.ldt.editors.LisaacEditor"
            id="org.lisaac.ldt.editors.LisaacEditor">
      </editor>
      <editor
            class="org.lisaac.ldt.editors.LipEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="lip"
            icon="$nl$/icons/releng_gears.gif"
            id="org.lisaac.ldt.editors.LipEditor"
            name="%editor.name.1">
      </editor>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml">
      </toc>
      <toc
            file="help/testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name.0"
            class="org.lisaac.ldt.perspectives.LisaacPerspective"
            id="org.lisaac.ldt.perspectives.LisaacPerspective">
         <description>
            %perspective.description.0
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%page.name.0"
            class="org.lisaac.ldt.preferences.LisaacPreferencePage"
            id="org.lisaac.ldt.preferences.LisaacPreferencePage">
      </page>
      <page
            category="org.lisaac.ldt.editorpreferences"
            class="org.lisaac.ldt.preferences.LisaacTemplatePage"
            id="org.lisaac.ldt.templatepreferences"
            name="%page.name.1">
      </page>
      <page
            category="org.lisaac.ldt.editorpreferences"
            class="org.lisaac.ldt.preferences.LisaacColoringPage"
            id="org.lisaac.ldt.editorcolorpreferences"
            name="%page.name.2">
      </page>
      <page
            category="org.lisaac.ldt.preferences.LisaacPreferencePage"
            class="org.lisaac.ldt.preferences.LisaacEditorPage"
            id="org.lisaac.ldt.editorpreferences"
            name="%page.name.3">
         <keywordReference
               id="org.eclipse.ui.editors.general">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.lisaac.ldt.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.lisaac.ldt.properties.LisaacProjectPropertyPage"
            id="org.lisaac.ldt.properties.projectPropertyPage"
            name="%page.name.5"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   <extension
         id="org.lisaac.ldt.newWizard"
         name="Lisaac Project Wizard"
         point="org.eclipse.ui.newWizards">
      <category
            id="Lisaac"
            name="%category.name.0">
      </category>
      <wizard
            canFinishEarly="true"
            category="Lisaac"
            class="org.lisaac.ldt.wizards.NewProjectWizard"
            finalPerspective="org.lisaac.ldt.perspectives.LisaacPerspective"
            hasPages="true"
            icon="$nl$/icons/sample.gif"
            id="org.lisaac.ldt.wizard"
            name="%wizard.name.0"
            preferredPerspectives="org.lisaac.ldt.perspectives.LisaacPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="Lisaac"
            class="org.lisaac.ldt.wizards.NewPrototypeWizard"
            finalPerspective="org.lisaac.ldt.perspectives.LisaacPerspective"
            hasPages="true"
            icon="$nl$/icons/prototype.gif"
            id="org.lisaac.ldt.prototype"
            name="%wizard.name.1"
            preferredPerspectives="org.lisaac.ldt.perspectives.LisaacPerspective"
            project="false">
      </wizard>
   </extension>
   <extension
         id="builder"
         name="Lisaac Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false">
         <run
               class="org.lisaac.ldt.builder.LisaacBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="lisaac"
         name="Lisaac Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.lisaac.ldt.builder.LisaacNature">
         </run>
      </runtime>
      <builder
            id="org.lisaac.ldt.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.lisaac.ldt.views.ConsoleFactory"
            label="%consoleFactory.label.0">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.lisaac.ldt.launch.LaunchConfiguration"
            id="org.lisaac.ldt.launchConfiguration"
            modes="run,debug"
            name="%launchConfigurationType.name.0"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.lisaac.ldt.launch.LaunchConfigurationTabGroup"
            id="org.lisaac.ldt.LaunchConfigurationTabGroup"
            type="org.lisaac.ldt.launchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%actionSet.description.0"
            id="org.lisaac.ldt.source"
            label="%actionSet.label.0"
            visible="true">
         <menu
               id="org.lisaac.ldt.sourcemenu"
               label="%menu.label.0"
               path="edit">
            <groupMarker
                  name="toggle">
            </groupMarker>
            <separator
                  name="org.lisaac.ldt.separator1">
            </separator>
            <groupMarker
                  name="indent">
            </groupMarker>
            <separator
                  name="org.lisaac.ldt.separator2">
            </separator>
            <groupMarker
                  name="generate">
            </groupMarker>
         </menu>
         <action
               class="org.lisaac.ldt.actions.IndentAction"
               definitionId="org.lisaac.ldt.cmd1"
               id="org.lisaac.ldt.indentaction"
               label="%action.label.0"
               menubarPath="org.lisaac.ldt.sourcemenu/indent">
         </action>
         <action
               class="org.lisaac.ldt.actions.GenerateConstructor"
               definitionId="org.lisaac.ldt.cmd2"
               id="org.lisaac.ldt.generateconstructor"
               label="%action.label.1"
               menubarPath="org.lisaac.ldt.sourcemenu/generate">
         </action>
         <menu
               id="org.lisaac.ldt.toolbar"
               label="%menu.label.1">
         </menu>
         <action
               class="org.lisaac.ldt.actions.CreatePrototype"
               definitionId="org.lisaac.ldt.cmd3"
               icon="$nl$/icons/prototype.gif"
               id="org.lisaac.ldt.toolbar_action1"
               label="%action.label.2"
               style="push"
               toolbarPath="org.lisaac.ldt.toolbar"
               tooltip="%action.tooltip.0">
         </action>
         <action
               class="org.lisaac.ldt.actions.ToggleComment"
               definitionId="org.lisaac.ldt.cmd4"
               id="org.lisaac.ldt.comment1"
               label="%action.label.3"
               menubarPath="org.lisaac.ldt.sourcemenu/toggle">
         </action>
         <action
               class="org.lisaac.ldt.actions.RenamePrototype"
               definitionId="org.lisaac.ldt.cmd5"
               enablesFor="1"
               id="org.lisaac.ldt.action.refactor1"
               label="%action.label.4"
               menubarPath="org.lisaac.ldt.refactor.menu/renameproto"
               style="push">
         </action>
         <menu
               id="org.lisaac.ldt.refactor.menu"
               label="%menu.label.2"
               path="org.lisaac.ldt.sourcemenu">
         </menu>
         <action
               class="org.lisaac.ldt.actions.ChangeHeader"
               definitionId="org.lisaac.ldt.cmd6"
               id="org.lisaac.ldt.action.refactor2"
               label="Change Project Headers"
               menubarPath="org.lisaac.ldt.refactor.menu/changeheader"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.lisaac.ldt.commands"
            id="org.lisaac.ldt.cmd1"
            name="%command.name.0">
      </command>
      <category
            id="org.lisaac.ldt.commands"
            name="%category.name.1">
      </category>
      <command
            categoryId="org.lisaac.ldt.commands"
            id="org.lisaac.ldt.cmd2"
            name="%command.name.1">
      </command>
      <command
            categoryId="org.lisaac.ldt.commands"
            id="org.lisaac.ldt.cmd3"
            name="%command.name.2">
      </command>
      <command
            categoryId="org.lisaac.ldt.commands"
            id="org.lisaac.ldt.cmd4"
            name="%command.name.3">
      </command>
      <command
            categoryId="org.lisaac.ldt.commands"
            id="org.lisaac.ldt.cmd5"
            name="%command.name.4">
      </command>
      <command
            categoryId="org.lisaac.ldt.commands"
            id="org.lisaac.ldt.cmd6"
            name="Change Header">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.lisaac.ldt.cmd1"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F2">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.lisaac.ldt.cheatsheet"
            name="Lisaac Development">
      </category>
      <cheatsheet
            category="org.lisaac.ldt.cheatsheet"
            composite="false"
            contentFile="help/sheet1_HelloWorld.xml"
            id="org.lisaac.ldt.cheatsheet1"
            name="Lisaac HelloWorld">
         <description>
            Create a &quot;Hello World&quot; Lisaac application from scratch.
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.lisaac.ldt.templates.LisaacContextType"
            id="org.lisaac.ldt.contexttype"
            name="Lisaac context type">
      </contextType>
      <template
            autoinsert="true"
            contextTypeId="org.lisaac.ldt.contexttype"
            description="%template.description.0"
            icon="$nl$/icons/template.gif"
            id="org.lisaac.ldt.template_whiledo"
            name="while_do">
         <pattern>
            while_do {
  ${cursor}
};
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="org.lisaac.ldt.contexttype"
            description="%template.description.1"
            icon="$nl$/icons/template.gif"
            id="org.lisaac.ldt.template_untildo"
            name="until_do">
         <pattern>
            until_do {
  ${cursor}
};
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="org.lisaac.ldt.contexttype"
            description="%template.description.2"
            icon="$nl$/icons/template.gif"
            id="org.lisaac.ldt.template_if"
            name="if">
         <pattern>
            if {
  ${cursor}
};
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="org.lisaac.ldt.contexttype"
            description="%template.description.3"
            icon="$nl$/icons/template.gif"
            id="org.lisaac.ldt.template_ifelse"
            name="if__else">
         <pattern>
            if {
  ${cursor}
} else {
};
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="org.lisaac.ldt.contexttype"
            description="%template.description.4"
            icon="$nl$/icons/template.gif"
            id="org.lisaac.ldt.template_iffalse"
            name="if_false">
         <pattern>
            if_false {
  ${cursor}
};
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="org.lisaac.ldt.contexttype"
            description="%template.description.5"
            icon="$nl$/icons/template.gif"
            id="org.lisaac.ldt.template_for"
            name="to__do">
         <pattern>
            to ${cursor} do { i:INTEGER;
};
         </pattern>
      </template>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.lisaac.ldt.launch.LisaacApplicationShortcut"
            icon="$nl$/icons/prototype.gif"
            id="org.lisaac.ldt.launch.shortcut"
            label="%shortcut.label.0"
            modes="run,debug">
         <perspective
               id="org.lisaac.ldt.perspectives.LisaacPerspective">
         </perspective>
         <contextualLaunch>
            <enablement>
            <with variable="selection">
			<count value="1"/>
				<iterate>
				<or><test property="org.eclipse.debug.ui.matchesPattern" value="*.li"/></or>
				</iterate>
			</with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="org.lisaac.ldt.lisaacProblem"
            name="org.lisaac.ldt.annotationtype"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.lisaac.ldt.editors.LisaacResourceDecorator"
            id="org.lisaac.ldt.decorator"
            label="%decorator.label.0"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.lisaac.ldt.annotationtype"
            colorPreferenceKey="errorIndicationColor"
            colorPreferenceValue="255,0,128"
            contributesToHeader="true"
            highlightPreferenceKey="errorIndicationHighlighting"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="isErrorGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isErrorGoToPreviousNavigationTarget"
            label="Lisaac Problem"
            overviewRulerPreferenceKey="errorIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showErrorInNextPrevDropdownToolbarAction"
            symbolicIcon="error"
            textPreferenceKey="errorIndication"
            textPreferenceValue="true"
            textStylePreferenceKey="errorTextStyle"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceKey="errorIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.lisaac.ldt.editoraction"
            targetID="#TextEditorContext">
         <action
               class="org.lisaac.ldt.actions.RefreshEditor"
               id="org.lisaac.ldt.editoraction1"
               label="Refresh Editor">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="eclisaac.SearchPage1"
            id="eclisaac.page1"
            label="label">
      </page>
   </extension>

</plugin>
